<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationDescription</key>
	<string>Secretive is an app for storing and managing SSH keys in the Secure Enclave. SecretAgent is a helper process that runs in the background to sign requests, so that you don&apos;t always have to keep the main Secretive app open.</string>
	<key>DeveloperName</key>
	<string>Max Goedjen</string>
	<key>Website</key>
	<string>https://github.com/maxgoedjen/secretive</string>
	<key>Connections</key>
	<array/>
	<key>Services</key>
	<array/>
</dict>
</plist>
