name: Test

on: [push, pull_request]
jobs:
  test:
#     runs-on: macOS-latest
    runs-on: macos-15
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v4
    - name: Set Environment
      run: sudo xcrun xcode-select -s /Applications/Xcode_26_beta.app
    - name: Test
      run: |
            pushd Sources/Packages
            swift test
            popd
