name: Test

on: [push, pull_request]
jobs:
  test:
    runs-on: macos-11.0
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - name: Set Environment
      run: sudo xcrun xcode-select -s /Applications/Xcode_13.1.app
    - name: Test
      run: xcrun xcodebuild test -project Secretive.xcodeproj -scheme Secretive
