name: Test

on: [push, pull_request]
jobs:
  test:
    runs-on: macOS-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v1
    - name: Set Environment
      run: sudo xcrun xcode-select -s /Applications/Xcode_12_beta.app
    - name: Test
      run: xcrun xcodebuild test -project Secretive.xcodeproj -scheme Secretive
