name: Test

on: [push, pull_request]
jobs:
  test:
    permissions:
        contents: read
    runs-on: macos-26
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v5
    - name: Set Environment
      run: sudo xcrun xcode-select -s /Applications/Xcode_26.1.app
    - name: Test Main Packages
      run: xcrun xcodebuild -project Sources/Secretive.xcodeproj -scheme PackageTests test
      # SPM doesn't seem to pick up on the tests currently?
      # run: swift test --build-system swiftbuild --package-path Sources/Packages
    - name: Test SecretKit Packages
      run: swift test --build-system swiftbuild
